/* special cases */
html, body {
    margin: 0;
    min-height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}


/* type */
article {
    color: #EAF0F7;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
}
article hr {
    background-color: #EAF0F7;
    border: none;
    border-radius: 4px;
    height: 2px;
    margin-bottom: 10px;
    margin-top: -10px;
    width: 270px;
}
article p {
    margin-top: 50px;
    text-align: center;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    transition: background-image 1s ease;
}

footer {
    text-align: center;
}
footer p {
    font-family: Tahoma;
    font-size: 13px;
    margin-top: 30px;
}
footer a {
    color: #EAF0F7;
    text-decoration: none;
    text-shadow: -1px -1px 0 #13111A, 1px -1px 0 #13111A,
        -1px 1px 0 #13111A, 1px 1px 0 #13111A;
}
footer a:hover {
    color: rgba(169, 169, 169, 0.6);
    text-shadow: none;
}

header {
    align-items: center;
    display: flex;
    gap: 0.5%;
    margin-top: 10px;
    margin-bottom: 70px;
    padding-left: 5px;
}
header a {
    text-decoration: none;
}

h1 {
    color: #EAF0F7;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 0 3px;
    text-align: left;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
}
section form input[type="text"] {
    letter-spacing: 1px;
    background-color: #EAF0F7;
    border: 1px solid darkgray;
    border-radius: 8px;
    color: #000;
    font-family: Tahoma;
    font-size: 12px;
    padding: 7px 10px 7px 10px;
    margin: -15px 0 15px 0;
    width: 300px;
}
section form input[type="submit"] {
    border: 1px solid darkgray;
    border-radius: 6px;
    font-size: 10px;
    font-weight: bold;
    height: 25px;
    padding: 3px 0px 3px 0px;
    width: 100px;
}
section form input[type="submit"]:hover {
    border: 1px solid #000000;
    background-color: rgba(234, 240, 247, 0.7);
}

/* class */
.logo {
    height: auto;
    margin: 0;
    width: 30px;
}


/* id */
#background-video {
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: auto;
    z-index: -1;
}