/* special case */
html, body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

#background-video {
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: auto;
    z-index: -1;
}


/* type */
article {
    color: #EAF0F7;
    font-family: Tahoma;
    font-size: 12px;
    line-height: 1.4;
    margin: 6% 6% 0 6%;
    text-align: justify;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
        -1px 1px 0 #000, 1px 1px 0 #000;
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    transition: background-image 1s ease;
}

footer {
    display: flex;
    font-family: Tahoma;
    font-size: 60%;
    justify-content: center;
    margin-top: -5%;
    text-align: center;
}
footer table {
    border-collapse: separate;
    border-spacing: 20px 10px;
    table-layout: auto;
}
footer table tr td a {
    color: #EAF0F7;
    text-decoration: none;
}

header {
    align-items: center;
    display: flex;
    gap: 0.5%;
    margin-top: 10px;
    padding-left: 5px;
}
header a {
    text-decoration: none;
}

h1 {
    color: #EAF0F7;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 0 3px;
    text-align: left;
}

nav {
    margin-bottom: 5%;
    margin-top: 10px;
}
nav ul {
    color: #13111A;
    display: flex;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    gap: 15%;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-shadow: -1px -1px 0 #EAF0F7, 1px -1px 0 #EAF0F7,
        -1px 1px 0 #EAF0F7, 1px 1px 0 #EAF0F7;
}
nav ul li {
    cursor: pointer;
    padding: 10px auto;
}
nav ul li:hover {
    color: #13111A;
    text-shadow: -1px -1px 0 rgba(169, 169, 169, 0.6), 1px -1px 0 rgba(169, 169, 169, 0.6),
        -1px 1px 0 rgba(169, 169, 169, 0.6), 1px 1px 0 rgba(169, 169, 169, 0.6);
}
nav ul li a {
    color: inherit;
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
    margin: 0 5px 0 5px;
}
section table {
    color: #13111A;
    font-family: Tahoma;
    font-size: 10px;
    font-weight:  bold;
    text-align: center;
    table-layout: auto;
    width: 100%;
}
section table tr td {
    text-shadow: -1px -1px 0 #EAF0F7, 1px -1px 0 #EAF0F7,
        -1px 1px 0 #EAF0F7, 1px 1px 0 #EAF0F7;
}
section table tr td a {
    color: #13111A;
    text-decoration: none;
}
section table tr td a:hover {
    text-shadow: -1px -1px 0 rgba(248, 184, 33, 0.6), 1px -1px 0 rgba(248, 184, 33, 0.6),
        -1px 1px 0 rgba(248, 184, 33, 0.6), 1px 1px 0 rgba(248, 184, 33, 0.6);
}
section table tr th {
    text-shadow: -1px -1px 0 darkgrey, 1px -1px 0 darkgray,
        -1px 1px 0 darkgray, 1px 1px 0 darkgray;
}


/* class */
.entire {
    margin: -4% 0 10% 0;
}

.homepage_logo {
    height: auto;
    margin: 0;
    width: 30px;
}

.login_or_signup {
    color: #EAF0F7;
    font-family: Tahoma;
    font-size: 11px;
    margin-top: 5%;
    text-align: center;
    text-shadow: -1px -1px 0 #13111A, 1px -1px 0 #13111A,
        -1px 1px 0 #13111A, 1px 1px 0 #13111A;
    word-spacing: 10px;
}
.login_or_signup a {
    background-color: rgb(29, 29, 29);
    border: 1px solid darkgray;
    border-radius: 8px;
    color: #EAF0F7;
    padding: 5px 30px 5px 30px;
    text-decoration: none;
    text-shadow: -1px -1px 0 #13111A, 1px -1px 0 #13111A,
        -1px 1px 0 #13111A, 1px 1px 0 #13111A;
    word-spacing: normal;
}
.login_or_signup a:hover {
    background-color: rgba(19, 17, 26, 0.6);
    border: 1px solid darkgray;
}

.trademarks {
    padding: 0px 20px;
    text-align: center;
}
.trademarks a {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.trademarks a img {
    margin: 10px 30px;
    width: 9%;
}
